

.test_richui_css {
	font-size: 33px;
}

html
{
	/*font-size: 100%;*/
	/*font-size: 20px; /* Yes I know what I do */
	/*background: rgba(0,0,0,0);*/
	
	/* http://www.webdesignerdepot.com/2013/05/how-to-optimize-for-legibility-using-text-rendering/ */
	text-rendering: optimizeLegibility;
}
body
{
	/* needed for correct positionning */
	/*position:absolute;*/
	
	/* needed for container min-height */
	/*height: 100%;
	width: 100%;*/
	/*background: rgba(0,0,0,0);*/
}


.richui_background {
	position: absolute;
	left:0; top:0;
	width: 100%;
	height: 100%;
	z-index: -1; /* TODO make it dynamic */
	/*background: blue;
	opacity: .10;*/
}

.richui-debug {
	font-size: 8px;
	color: rgb(128, 128, 128);
	border-color: rgb(128, 128, 128);
	background: rgba(0,0,0,0);
}
/*
.richui-debug  {
	border-top: 1px solid rgb(128, 128, 128);
}
*/