.directive-ror-panels-places {

}

.directive-ror-panels-places > .nav-tabs > li.active > a {
	background-color: black;
}
.directive-ror-panels-places > .nav-tabs > li > a:hover {
	border-color: #333;
	background-color: #333;
}
