
body
{
	background-color: black;
	color: white;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

article
{
	//border: 1px solid;
	background-color: #132235;
	position: absolute;
	height: 300px;
	width: 400px;
	left: 200px;  
	top: 50px;  
	padding: 7px;
}

.futuristic:before, .futuristic:after, .futuristic2:before, .futuristic2:after {
	content: " ";
	position: absolute;
	height: 75%;
	width: 75%;
	border: 4px solid;  
	display: block;
}

.futuristic2:before  
{
	right: -5px;
	top: -5px;
	border-color: #A1D3EE #A1D3EE transparent transparent;
}
.futuristic:before  
{
	height: 50%;
	width: 0%;
	right: -15px;
	top: 25%;
	border: 7px solid;  
	border-color: transparent transparent transparent #A1D3EE;
}
/*.futuristic:before  
{
	height: 0%;
	width: 50%;
	right: 25%;
	top: -5px;
	border: 8px solid;  
	border-color: #00F #00F transparent transparent;
}*/

.futuristic2:after
{
	left: -5px;
	bottom: -5px;
	border-color: transparent transparent #FC8227 #FC8227;
}
.futuristic:after
{
	height: 25%;
	width: 25%;
	left: -5px;
	bottom: -5px;
	border: 7px solid;  
	border-color: transparent transparent #FC8227 #FC8227;
}

/*
.futuristic:before  
{  
	left: -5px;  
	top: 98%;
	height: 100px;
	width: 300px;
	border-color: transparent transparent #F00 #F00;
}

.futuristic:after  
{  
	left: 100%;  
	top: 0%;  
	/*background-color: #f00;*//*
	height: 75%;
	width: 50%;
}
*/

